<h1>Laci's Blog</h1>
<% @blog_posts.each do |blog_post| %>
  <div>
    <%= image_tag blog_post.cover_image if blog_post.cover_image.attached? %>
    <h2><%= link_to blog_post.title, blog_post_path(blog_post) %></h2>
    <%= blog_post.content %>
    <% if blog_post.draft? %>
      <div class="p-1 rounded bg-gray-100 text-gray-900">Draft</div>
    <% elsif blog_post.scheduled? %>
      <div class="p-1 rounded bg-blue-100 text-blue-900">Scheduled</div>
    <% end %>
  </div>
<% end %>

<div class="my-16">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>